@import "EatingAnimation.css";
@import "OutputAnimation.css";
@import "Modal.css";
body{
    overflow-y:scroll;
}

.header{
    margin-top: 200px;
    height: 500px;
}

.form{
    margin-left: 5%;
    width: fit-content;
    text-align: center; 
}

/* Header + text input container */

h1{
    margin: 0;
    padding-right: 10px;
    font-size: 1.5em;
}

.flex-container{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#header-image{
    width: 100%;
}
#header-image>img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:35%;
} 

/* Inputs */

input{
    border: none;
    background-color: hsl(0, 0%, 94%);
    position: relative;

}

#title{
    font-size: 1.5em;
    padding: 2px;
    
}

#title:focus{
    outline: none;
}

#empty-input{
    display: none;
    color: red;
    margin-bottom: -2px;
}
#submit{
    margin-top: 15px;
    font-size: 1.5em;
    padding: 5px;
}

#submit:hover{
    background-color: #d4d4d4;
}

/* Image */


#eating-head{
    position: absolute;
    left:400px;
    top: 150px;
    width: 70%;
    pointer-events: none;
}
#top-half{
    position:absolute;
    left: 455px;
}

#bottom-half{
    position: absolute;
    left:400px;
    width: 1000px;
}
