.head-shake{
    animation: shake 0.5s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(-40deg); }
    10% { transform: translate(-1px, -2px) rotate(-39deg); }
    20% { transform: translate(-3px, 0px) rotate(-41deg); }
    30% { transform: translate(3px, 2px) rotate(-40deg); }
    40% { transform: translate(1px, -1px) rotate(-41deg); }
    50% { transform: translate(-1px, 2px) rotate(-39deg); }
    60% { transform: translate(-3px, 1px) rotate(-40deg); }
    70% { transform: translate(3px, 1px) rotate(-39deg); }
    80% { transform: translate(-1px, -1px) rotate(-41deg); }
    90% { transform: translate(1px, 2px) rotate(-40deg); }
    100% { transform: translate(1px, -2px) rotate(-39deg); }
  }